<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="custom_load_of_data">
        <observer name="function_of_die" instance="Overdose\Lesson6\Observer\DieAfterLoad" />
    </event>
</config>